@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Kanit:wght@500&display=swap");

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 750px; */
  width: 500px;
  height: 562.5px;
  border: 1px solid rgba(180, 175, 175, 0.9);
  background-color: #ffb978;
  color: white;
  border-radius: 40px;
  font-family: "Inter", "sans-serif";
  box-sizing: border-box;
}

.App-header {
  font-family: "Kanit", "sans-serif";
}

.App-totals {
  display: flex;
  height: 15%;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: white;
  margin-right: 3rem;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 0.5rem;
}

/* Hide number input arrows */

/*Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

p {
  font-size: xx-small;
}
