.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: black;
  height: 3rem;
}

.day {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.dayOfWeek {
  display: flex;
  justify-content: center;
  width: 20%;
  color: black;
}

.timeInput {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

.days-calc {
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color: white;
}

.day-hours {
  display: flex;
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
  width: 49%;
}

.day-decimal {
  display: flex;
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
  width: 49%;
}