.timecard {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: black;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.timecard-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 66%;
}

.timecard-in-out {
  display: flex;
  justify-content: space-evenly;
}

.timestamps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculations {
  display: flex;
  flex: 33%;
  font-size: 1rem;
  border: 1px solid red;
  /* height: 393.75px; */
}

.hours {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #F5F5F5;
  gap: 1rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.day-row {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 9rem;
}

.left {
  display: flex;
  gap: 4rem;
}

.right {
  display: flex;
  gap: 6rem;
}