.timecard {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: black;
  height: 3rem;
}

.timecard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: self-end;
  text-align: end;
  width: 60%;
}

.days-spacer {
  display: flex;
  width: 20%;
}

.column {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  font-family: 'Inter', 'sans-serif';
  color: #FFA24D;
  font-size: 1.25rem;
  font-weight: 900;
}

.hours {
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color: white;
  text-decoration: underline;
  text-underline-offset: 2px;
  z-index: 1;
}

.hours-hours {
  display: flex;
  background-color: #F5F5F5;
  justify-content: center;
  width: 49%;
}

.hours-decimal {
  display: flex;
  background-color: #F5F5F5;
  justify-content: center;
  width: 49%;
}
